.wrapper {
    &.ant-checkbox {
        &-wrapper {
            &.ant-checkbox-checked .ant-checkbox-inner {
                background: $blue;
                border-color: $blue;
            }

            .ant-checkbox-inner {
                border-color: $blue;
            }

            &:not(.ant-checkbox-wrapper-disabled):hover
                .ant-checkbox-checked:not(.ant-checkbox-disabled)
                .ant-checkbox-inner {
                background-color: $blue;
            }

            .ant-checkbox .ant-checkbox-inner {
                & {
                    width: 26px;
                    height: 26px;
                }

                &:after {
                    width: 8px;
                    height: 13px;
                }
            }

            .ant-checkbox-checked + span {
                color: $blue;
            }

            .ant-checkbox + span {
                font-size: 16px;
                line-height: 1.3;
            }
        }
    }
}
