.wrapper {
    .ant-tag {
        width: 100%;
        text-align: center;
        border-radius: 10px;
        padding: 10px 8px;
        box-sizing: border-box;
        line-height: 1;
        font-size: 16px;
        color: $black;
        background-color: $white;

        border: 1px solid $lightGrey;

        &:hover {
            background-color: $white;

            border: 1px solid $blue;
            color: $black;
        }

        &.ant-tag-checkable-checked {
            background-color: $white;

            border: 1px solid $blue;
            color: $black;
        }
    }
}
