.calendarTitle {
    color: $white;
}

.wrapper {
    :global {
        .ant-tag-checkable-checked {
            border-color: $white;
        }
        .ant-tag-checkable-checked:hover {
            background: rgba(27, 35, 44, 0.1);
            border-color: $white;
        }
    }
}

.dayWrapper {
    background: rgba(27, 35, 44, 0.5);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    color: $white;

    width: 100%;
    padding: 12px;
    border: 1px solid transparent;
}

.dayName {
    color: $white;
    font-size: 18px;
}
.dayNumber {
    color: $white;
}
