.collapse {
    border: none;

    :global {
        .ant-collapse-header-text {
            color: #fff;
            font-size: 28px;
            font-weight: 600;
        }

        .ant-collapse-content {
            background: rgba(54, 54, 54, 0.5);
            color: #fff;
            font-size: 22px;
            border: none;
            border-radius: 15px;

            p {
                margin: 0;

                &:not(:first-child) {
                    margin-top: 8px;
                }
            }
        }

        .ant-collapse-item {
            border: none;

            background: rgba(54, 54, 54, 0.5);
            margin-bottom: 20px;

            &.ant-collapse-item-active {
                border-radius: 15px;
            }

            & > .ant-collapse-header {
                align-items: center;
                color: #fff;

                .ant-collapse-arrow {
                    font-size: 28px;

                    svg {
                        color: currentColor;
                    }
                }
            }
        }
    }
}
