.idea
/node_modules
/package-lock.json

# testing
/coverage

# next.js
/.next/
/out/


# debug
npm-debug.log*

# vercel
.vercel
next-env.d.ts

# typescript
*.tsbuildinfo
next-env.d.ts

# cypress
/cypress/screenshots
/cypress/videos

#env
.env*
.vscode/*
