.wrapper {
    max-width: 1365px;
    width: 100%;
    margin: 0 auto;
    background: $white;
    padding: 25px;
    border-radius: 8px;
    margin-top: 15px;
}

.buttonsWrapper {
    margin-top: 25px;
}
