$black: '#333';
$white: '#fff';
$white2: '#f0f3ff';
$blue: '#5e63e8';
$blue2: '#4096ff';
$blueHovered: '#5559d1';
$colorInactive: '#151633';
$grey: 'rgba(18, 18, 18, 0.8)';
$grey2: '#adadad';
$lightGrey: 'rgba(18, 18, 18, 0.2)';
$opacityBlue: 'rgba(94, 99, 232, 0.1)';
$lightgrey: 'rgb(235 235 235 / 50%)';
$red: 'red';
