.slider {
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

    .wrapper {
        max-width: 1200px;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .swiper-slide {
        opacity: 0.5;
        line-height: 0;
        transition: opacity 1s ease;

        &.swiper-slide-active {
            opacity: 1;

            &:before {
                display: none;
            }
        }
    }

    .swiper-pagination-bullet {
        border-radius: 0;
        width: 30px;
        height: 4px;

        &.swiper-pagination-bullet-active {
            background: $blue;
        }
    }
}
