.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 10px 20px;
    transition: background 0.1s;
    background: rgba(27, 35, 44, 0.1);
    backdrop-filter: blur(8px);

    .headerInner {
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
    }
}

.toggleButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.footer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 20px);
    padding: 10px 20px;
    margin: 120px 0 0;

    .footerInner {
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
    }

    .footerContacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footerSocials {
        width: 40%;
    }
}
