.inputPhone {
    :global {
        .react-international-phone-country-selector-button {
            border: 1px solid $blue;
            height: 40px;
            border-radius: 6px 0 0 6px;
            padding: 6px;
        }

        .react-international-phone-input {
            flex-grow: 2;
            border: 1px solid $blue;
            height: 40px;
            border-radius: 0 6px 6px 0;
        }
    }

    &.error {
        :global {
            & .react-international-phone-country-selector-button {
                border: 1px solid $red;
            }

            & .react-international-phone-input {
                flex-grow: 2;
                border: 1px solid $red;
            }
        }
    }
}
