.formWrapper {
    background: transparent;
    padding: 0;
    margin-bottom: 120px;
}

.formTitle {
    margin: 0 0 30px;
    font-size: 48px;
    line-height: 1.4;
    font-weight: 700;
}

.form {
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px -14px rgba(0, 0, 0, 1);
    background-color: rgba(24, 32, 35, 0.2);
    width: 100%;
    min-width: 300px;
    border-radius: 15px;
    border-radius: 3px;

    padding: 50px 60px 60px;

    position: relative;
    overflow: hidden;

    @media screen and (max-width: 767px) {
        padding: 20px;
    }

    .group-field {
        margin: 0 -10px;
        flex-wrap: nowrap;

        &-item {
            width: calc(50% - 20px);
            margin: 0 10px;
        }

        @media screen and (max-width: 767px) {
            margin: 0;
            flex-wrap: wrap;

            &-item {
                width: 100%;
                margin: 0;
            }
        }
    }
}

.notes {
    fill: white;
    width: auto;
    height: 130%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

// .formInner {
//     background: rgba(27, 35, 44, 0.01);
//     -webkit-backdrop-filter: blur(3px);
//     backdrop-filter: blur(3px);
//     padding: 15px;
//     z-index: 100;
//     padding: 50px 60px 60px;
// }
