.button {
    padding: 5px 20px;
    min-width: 100px;
    font-size: 16px;
    box-sizing: content-box;

    @media (max-width: $medium) {
        min-width: 50px;
    }

    :global {
        &.ant-btn-primary {
            background: $white2;
            color: $blue;
        }

        &.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
            background: $blue;
        }

        &.ant-btn-dashed {
            border-color: $grey2;
            color: $grey2;
        }

        &.ant-btn-dashed:not(:disabled):not(.ant-btn-disabled):hover {
            border-color: $blue;
            color: $blue;
        }
    }
}
